h1 {
    font-family: 'Pacifico', cursive;
}

body {
    background: mediumpurple;
    color: white;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(135deg, mediumpurple, lightblue);
}


/*header a:hover {*/
/*    background: white;*/
/*    color: purple;*/
/*}*/

.headers {
    font-family: 'Oswald', cursive;
}


#newMovie {
    font-family: 'Oswald', cursive;
}